<html ng-app="EvPast">
	<head>
		<title>Artefacts</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
	</head>
	<body ng-controller="MainController as vm">
        <table>
            <tr>
                <th>title</th>
                <th>creator</th>
                <th>subject</th>
                <th>description</th>
            </tr>
            <tr ng-repeat="content in vm.artefacts">
                <td>{{ content.title }}</td>
                <td>{{ content.creator }}</td>
                <td>{{ content.subject }}</td>
                <td>{{ content.description }}</td>
            </tr>
        </table>
	</body>
    <script>
        var clientArtefacts = <%- JSON.stringify(serverArtefacts) %>;
    </script>
    <script src="/assets/js/app.js"></script>
</html>